#### Recommended .htaccess for the mvc2000 framework ####

#RewriteEngine On

#If an public element has been asked, we stop here
#RewriteRule ^app/public.*$ - [L]

#This transfrorms any other url into index.php?uri=URL
#RewriteRule ^(.*) index.php?uri=$1&%{QUERY_STRING} [L]